 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Oswald:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap');
 *{
	margin:0;
	padding:0;
	font-family:sans-serif;
	  box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
.hero{
	position: relative;
    width: 100%;
    height: 100vh;
    background:#9ebbcb;
}
nav{
	display:flex;
	width:84%;
	margin:auto;
	padding:20px 0;
	align-items:center;
	justify-content:space-between;
	
}
.logo{
	width:80px;
	height:50px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
	text-decoration:none;
	    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
	color:red;
}
.detel{
	margin-left:8%;
	margin-top: 15px;
}
.detel h1{
	font-size:50px;
	color: #212121;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}
span{
	color:d64b77;
	font-family: 'Oswald', sans-serif;
}
.detel a{
	    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 8px;
}
.detel a:hover{
	color:orange;
}
.images{
	width:45%;
	height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
position: absolute;
    height: 95%;
    left: 27%;
    bottom: 0;
    transform: translateX(-50);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
	bottom:40px;
}

.images:hover .boys{
	left:45%;
}
/* start foter section*/
#foter-Section{
    width: 100%;
    height:365px;
    background: linear-gradient(to bottom, #9ebbcb, transparent);
    position: relative;
}
.main-foter{
    width: 320px;
    position: relative;
    display: block;
    line-height: 25px;
    color: white;
}
.main-foter h3{
    color:#48169b;
    text-transform: uppercase;
    width: 122px;
    position: absolute;
    top: 55px;
    left: 50px;
    letter-spacing: 2px;
 } 
.main-foter h4 {
    position: absolute;
    top: 115px;
    left: 50px;
    width: 230px;
    letter-spacing: 2px;
    color: #0b5c83;
}
.main-foter p {
    position: absolute;
    top: 155px;
    left: 55px;
    width: 366px;
    color:#120d0d;
    text-align: justify;
    text-transform: capitalize;
    font-family: 'Font Awesome 5 Brands';
}
.main-foter h3 span{
    border-bottom: 2px solid orangered;
}
.com {
    position: absolute;
    top: 55px;
    left: 530px;
}
.com h3{
    text-transform: uppercase;
    color:#48169b;
    letter-spacing: 2px;
}
.com h3 span{
    border-bottom: 2px solid orangered;
}
.contract{
    position: absolute;
    top:55px;
    left:950px;
    line-height: 30px;
    width:380px;
}
.contract h3{
    text-transform: uppercase;
    color: #48169b;
    letter-spacing: 2px;
}
.contract h3 span{
    border-bottom: 2px solid orangered;
    letter-spacing: 2px;
}
.contract h4{
    color:#48169b;
    line-height:100px;
    font-size:20px;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}
.contract h5{
    font-size: 16px;
    color:#251a36;
    top:95px;
    left:70px;
    letter-spacing: 2px;
    position: absolute;
}
sapn {
    font-size: 15px;
    letter-spacing:2px;
    text-transform: capitalize;
}
.contract h2{
     color: #4eacb8;
    text-transform: capitalize;
    font-weight: 500;
    font-size:20px;
}
.contract h2 span {
    font-size:15px;
    text-transform: lowercase;
}
.phone{
	font-family: monospace;
    color: #0e3a4e;
	font-si
}
.mail{
	font-family: monospace;
    color: #0e3a4e;
}
.icon-links {
    padding: 60px 35px;
    width:250px;
}
.faceBook,
 .twitter,
 .yahoo{
    border: none;
    padding: 6px;
    font-size: 2rem;
    border-radius: 10px;
    background: #e9c59aeb;
    margin-right: 9px;
    transition:0.7s;
 }
.yahoo:hover{
    transform: scale(1.3);
    background: white;
}
.faceBook:hover{
    transform: scale(1.3);
    background: white;
}
.twitter:hover{
    transform: scale(1.3);
    background: white;
}
#Details{
    background:linear-gradient(to top, #0f8f9f, transparent);
    height: 100px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #49aab6;
    color:#2e2121;
}
#Details h5{
    font-size:15px;
    font-family: cursive;
    text-transform: capitalize;
    padding-top: 30px;
	font-weight:500;
    letter-spacing: 2px;
    box-shadow: 3px 13px 10 burlywood;
}
#Details h6{
    text-transform: uppercase;
    padding: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: math;
    font-weight: bold;
}
/*End foter section*/
